*{
    margin: 0px;
    padding: 0px;
}

.intro{
    display: grid;
    height: auto;
    font-size: 28px;
    background-color: rgb(32, 87, 87);
    color: rgba(182, 241, 223, 0.792);
    padding: 10px;
    grid-template-columns: 10% 90%;
}
h1{
  position: absolute;
  left: 35%;
}
nav{
    height: 40px;
    background-color: rgb(225, 220, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    display: inline-block;
    height: auto;
    width: 60px;
}
img{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(131, 214, 224);
}
a{
    color: black;
    text-decoration: none;
    font-size: 31px;
    margin-right: 100px;
}
a:hover{
    color: brown;
    box-shadow: 0 0 10px rgb(169, 169, 205);
    border-radius: 10px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2,1fr);
    justify-content: space-between;
    grid-gap: 100px;
    margin: 10px;
    padding: 50px;
    background-color: rgb(196, 206, 222);
}
#c1{
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 10%;
    width:100%;
    color: rgb(241, 41, 10);
    font-size: 40px;
}
#i1 img{
    width: 100%;
    height:100%;
}
footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    /* height: 40px; */
    background-color: black;
    display: flex;
    justify-content: space-around;
}
footer>a{
    text-decoration: none;
    color: white;
}
.nav{
    position: sticky;
    width: 100%;
    top: 0;
    z-index: 1;
}
.i2{
    width: 100%;
    height: 100%;
    grid-column: span 2;
}