*{
    margin: 0px;
    padding: 0px;
}

.intro{
    display: grid;
    height: auto;
    font-size: 28px;
    background-color: rgb(32, 87, 87);
    color: rgba(182, 241, 223, 0.792);
    padding: 10px;
    grid-template-columns: 10% 90%;
}
h1{
  position: absolute;
  left: 35%;
}
nav{
    position: sticky;
    top: 0%;
    height: 40px;
    background-color: rgb(225, 220, 220);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#logo{
    display: inline-block;
    height: auto;
    width: 60px;
}
img{
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(131, 214, 224);
}
a{
    color: black;
    text-decoration: none;
    font-size: 31px;
    margin-right: 100px;
}
a:hover{
    color: brown;
    box-shadow: 0 0 10px rgb(169, 169, 205);
    border-radius: 10px;
}
main{
    display: flex;
    justify-content:center;
    flex-flow: end;
    gap: 100px;
    margin: 10px;
    padding: 10px;
    background-image: url(https://c.saavncdn.com/598/Pleasant-Melodies-for-Soul-New-Age-Music-to-Relax-Good-Mood-Meditate-Inner-Peace-Pure-Mind-English-2017-20171002161052-500x500.jpg);
    height: 100vh;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;

}
#c1{
    /* display: inline; */
    padding: 40px;
    width: 50%;
    color: rgb(242, 71, 9);
    font-size: 40px;
    /* border: 2px solid gray; */
    border-radius: 20px;
}
#i1{
}
#i1 img{
    width: 50%;
    height:400px;
}
footer{
    /* height: 40px; */
    background-color: black;
    display: flex;
    justify-content: space-around;
}
footer>a{
    text-decoration: none;
    color: white;
}